  CSS by ///ADD/// YOUR NAME
  /* Author: Bryan Arroyo */
  /* Imported Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

  /* ///ADD/// CSS Reset */
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  video, svg{
    display:block;
    max-width: 100%;
  }

  input, button{
    font: inherit;
  }
  /* Root Variables */
  :root {
    --blue-bulletin: #1D3557;
    --news-flash: #E63946;
    --watchdog-white: #F1FAEE;
    --truth-text: #333;
    --story-subtitle: #457B9D;
    --font-body: "Source Sans 3", sans-serif;
    --font-heading: 'Merriweather', serif;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    --transition: all 0.5s ease;
  }

  /* Manual Light/Dark Mode Styles*/
  body{
    transition: var(--transition);
  }

  body.light-mode {
    background-color: var(--watchdog-white);
    color: var(--truth-text);

    --page-background: var(--watchdog-white);
    --page-text-color: var(--truth-text);

  }
  body.dark-mode {
    background-color: var(--truth-text);
    color: var(--watchdog-white);

    --page-background: var(--truth-text);
    --page-text-color: var(--watchdog-white);
  }
  #theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--watchdog-white);
    border: 1px solid var(--blue-bulletin);
    border-radius: 1.5rem;
    cursor: pointer;
  }

  /* ///ADD/// Skip Link Styles */
  #skip-to-main {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--news-flash);
    color: var(--watchdog-white);
    padding: 8px;
    z-index: 100;
    transition: top 0.3s;
  }
  #skip-to-main:focus {
    top: 0;
  }
  /* ///ADD/// Navigation Styles */
  #menu-toggle{
    display: none;
  }
  .tagline{
    font-style: italic;
    text-align: center;
    right: auto;
    display: inline-block
  }
  /* .mobile-nav{
    width:30px;
    display: inline-block;
  } */
  .menu-button{
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 101; /* Above the menu */
    cursor: pointer;
  }
  .burger-line{ 
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: var(--page-text-color);
    border-radius: 2px;
    transition: var(--transition)
  }

  #menu-toggle:checked + .menu-button .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 11px);
  }
  #menu-toggle:checked + .menu-button .burger-line:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle:checked + .menu-button .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -11px);
  }
  .menu{
    position: fixed;
    top: 35px;
    left: -100%;
    width: 150px;
    height: 100vh;
    background-color: var(--page-background);
    color: var(--page-text-color);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1.5rem;
    transition: var(--transition);
  }
  #menu-toggle:checked ~.menu{
    left:0; /* Slide in the menu */
  }



 
nav ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
li {
  list-style-type: none;
}



  /* ///ADD/// Global Layout Styles */
  body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  main {
    padding-bottom: 100px;
  }
  footer {
    background: inherit;
    color: inherit; 
  }

  #social{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    height: 115px;
  }
  #social > h2{
    text-align: center;
    margin:0;
  }

  #links{
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  input[type="submit"]{
    box-shadow: var(--shadow);
    height: 2.5rem;
    transition: var(--transition);
    background: var(--page-text-color);
    font-weight: 700;
    color: var(--page-background)
  }
  input[type="submit"]:hover{
    background: var(--news-flash);
  }
  form > h2,
  form > p {
    margin-bottom: 0.1rem;
  }
  .required_field{
    color: var(--news-flash);
  }
   form > fieldset{
    display: grid;
    grid-template-columns: 35px auto;
    gap: 0.25rem
   }
   svg{
    width: 45px;
    height: 45px;
    fill: var(--page-background);
    stroke: var(--page-text-color);
    stroke-width: 2.5px;
    transition: var(--transition)
   }
   svg:hover{
    transform: scale(1.1)
   }


  /* ///ADD/// Global Text Styles */
  body {
    font-family: var(--font-body);
  }
  h1{
    font-size: 1.5rem;
    text-align: center;
  }
  h1, h2, h3{
    font-family: var(--font-heading);
    line-height: 1.2;
  }
  h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h3{
    transition: var(--transition);
  }
  h3:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  #breaking-news h3
  {
    color: var(--news-flash);
    margin-left: 5px;
  }
  video{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  video + p {
    margin-bottom: 0.5rem;
    margin-left: 1.2rem;

  }
  /* Subtitles Fonts */
  #featured-articles > p {
    margin-left: 5px;
    color: var(--story-subtitle);
    font-weight: 375;
  }

  /* ///ADD/// medium styles 620px */
  @media (min-width: 620px) {
    /* body{
      color: green;
    } */
  }

  /* ///ADD/// large styles 920px */
  @media (min-width: 920px) {
    /* body{
      color: blue;
    } */
  } 

  /* ///ADD/// x-large styles 1024px */
  @media (min-width: 1024px) {
    #social{
      position: relative;
    }
    main{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-areas: 
        "breaking-news featured-articles"
        "secondary_news featured-articles";
    }
    #breaking-news{
      grid-area: breaking-news;
    }
    #secondary_news{
      grid-area: secondary_news;
    }
    #featured-articles{
      grid-area: featured-articles;
      padding-left: 2rem;
      border-left: 2px solid var(--blue-bulletin);
    }
  }

  /* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
  @media (prefers-reduced-motion: reduce){
    body{
      transition: none;
    }
  }

    /* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
    @supports (selector(:has(*))) {

    }