  /* CSS by ///ADD/// YOUR NAME
  /* Author: Bryan Arroyo */
  /* Imported Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

  /* ///ADD/// CSS Reset */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  video,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button {
    font: inherit;
  }

  /* Root Variables */
  :root {
    --blue-bulletin: #1D3557;
    --news-flash: #E63946;
    --watchdog-white: #F1FAEE;
    --truth-text: #333;
    --story-subtitle: #457B9D;
    --font-body: "Source Sans 3", sans-serif;
    --font-heading: 'Merriweather', serif;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    --transition: all 0.5s ease;
  }

  /* Manual Light/Dark Mode Styles*/
  body {
    transition: var(--transition);
  }

  body.light-mode {
    background-color: var(--watchdog-white);
    color: var(--truth-text);

    --page-background: var(--watchdog-white);
    --page-text-color: var(--truth-text);

  }

  body.dark-mode {
    background-color: var(--truth-text);
    --page-background: var(--truth-text);
    --page-text-color: var(--watchdog-white);
  }

  #theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--watchdog-white);
    border: 1px solid var(--blue-bulletin);
    border-radius: 1.5rem;
    cursor: pointer;
  }

  /* ///ADD/// Skip Link Styles */
  #skip-to-main {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--news-flash);
    color: var(--watchdog-white);
    padding: 8px;
    z-index: 100;
    transition: top 0.3s;
  }

  #skip-to-main:focus {
    top: 0;
  }

  /* ///ADD/// Navigation Styles */
  #menu-toggle {
    display: none;
  }

  .tagline {
    font-style: italic;
    text-align: center;
    width: 100%;

    right: auto;
    display: inline-block
  }

  .menu-button {
    width: 30px;
    height: 25px;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 101;
    background: var(--page-background);
  }

  .burger-line {
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: var(--page-text-color);
    border-radius: 2px;
    transition: var(--transition)
  }

  #menu-toggle:checked+.menu-button .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 11px);
  }

  #menu-toggle:checked+.menu-button .burger-line:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked+.menu-button .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -11px);
  }

  .menu {
    position: fixed;
    top: 13vh;
    left: -100%;
    width: 100vw;
    height: 87vh;
    background-color: var(--page-background);
    color: var(--page-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    transition: var(--transition);
    overflow-y: hidden;
    z-index: 1000;
    transform: translateZ(0)
  }

  #nav_1 {
    padding-top: 3rem;
  }

  #menu-toggle:checked~.menu {
    left: 0;
  }
  a{
  color:inherit
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style-type: none;
  }

  /* ///ADD/// Global Layout Styles */
  body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    padding-left: 10px;
    padding-right: 10px;
  }

  main {
    margin-bottom: 150px;
  }

  footer {
    background: inherit;
    color: inherit;
  }

  #social {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    height: 115px;
    z-index: 1001;
  }

  #social>h2 {
    text-align: center;
    margin: 0;
  }

  #links {
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }

  #alerts {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-self:center;
    margin-top: 1rem;
    background: var(--blue-bulletin);
    color: var(--watchdog-white);
    padding: 15px;
    box-shadow: var(--shadow);
    border-radius: 10px;
  }

  #alerts > form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input[type="submit"] {
    box-shadow: var(--shadow);
    height: 2.5rem;
    transition: var(--transition);
    background: var(--page-text-color);
    font-weight: 700;
    color: var(--page-background);
    border-radius: 8px;
  }

  input[type="submit"]:hover {
    background: var(--news-flash);
  }

  form>h2,
  form>p {
    margin-bottom: 0.1rem;
  }

  .required_field {
    color: var(--news-flash);
  }

  form > fieldset {
    display: grid;
    grid-template-columns: 35px auto;
    gap: 0.5rem;
    padding: 10px;
  }

  svg {
    width: 45px;
    height: 45px;
    fill: var(--page-background);
    stroke: var(--page-text-color);
    stroke-width: 2.5px;
    transition: var(--transition)
  }

  svg:hover {
    transform: scale(1.1)
  }


  /* ///ADD/// Global Text Styles */
  body {
    font-family: var(--font-body);
    color: var(--page-text-color);
    margin-left: 0.5rem;
  }

  .nav_item {
    color: var(--page-text-color);
    font-weight: 600;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0.5rem;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    ;
  }

  h3 {
    transition: var(--transition);
  }

  h3:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  #breaking-news h3 {
    color: var(--news-flash);
    margin-left: 5px;
  }

  video {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 98%;
  }

  video+h2 {
    margin-bottom: 0.5rem;
    margin-left: 1.2rem;
  }

  /* Subtitles Fonts */
  #featured-articles>p {
    margin-left: 1.2rem;
    color: var(--story-subtitle);
    /* font-weight: 375; */
  }

  /* ///ADD/// medium styles 620px */
  @media (min-width: 620px) {
    /* body{
      color: green;
    } */
    .menu-button {
      visibility: hidden;
    }
    #alerts {
      width: 550px;
    }
  }

  /* ///ADD/// large styles 920px */
  @media (min-width: 920px) {

    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "breaking_news breaking_news"
        "featured_news alerts";
      margin-bottom: 0px;
    }
    header{
      grid-area: header;
    }
    #breaking-news {
      grid-area: breaking_news;
    }
    #featured-articles {
      grid-area: featured_news;
    }
    #social{
      position: relative;
    }
    footer{
      grid-area: footer;
    }
    #alerts {
      grid-area: alerts;
      background: var(--blue-bulletin);
      color: var(--watchdog-white);
      border-radius: 10px;
      padding: 10px;
      justify-self: center;
      align-self: center;
      /* height: auto; */
      
    }

    form>fieldset {
      padding: 10px;
    }

  }

  /* ///ADD/// x-large styles 1024px */
  @media (min-width: 1024px) {

    /* LAYOUT */
    body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .navigation .menu {
      position: relative;
      left: 0;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
      overflow: visible;
    }

    .menu-button {
      visibility: hidden
    }


    .nav_item {
      position: relative;
      display: inline-block;
      font-weight: 600;
      z-index: 1
    }
    .nav_item, #nav_1 {
      padding-top: 0;
      margin-top: 0;
      transition: var(--transition);
    }
    .nav_item:hover:not(:first-child):not(:last-child) {
      color: var(--news-flash);
      padding-right: calc(12px * 1.1);
      padding-left: calc(12px * 1.1);
    }

    .menu li:first-child:hover{
      padding-right: calc(12px * 1.1);
      color: var(--news-flash);
    }
    .menu li:last-child:hover{
      padding-left: calc(12px * 1.1);
      color: var(--news-flash);
    }
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "intro intro"
        "breaking-news featured-articles"
        "breaking-news subscribe";
      margin-bottom: 0px;
    }

    #theme-toggle {
      z-index: 1000;
    }

    .menu {
      position: relative;
      top: auto;
    }

    .menu-button {
      visibility: hidden;
    }

    #social {
      position: relative;
    }


    #intro {
      grid-area: intro;
      text-align: center;
      margin-bottom: 1rem;
    }

    #breaking-news {
      grid-area: breaking-news;
    }

    #breaking-news p {
      margin-left: 0.25rem;
    }

    #featured-articles {
      grid-area: featured-articles;
      padding-left: 2rem;
    }

    #alerts {
      
      margin-top: 10px;
      grid-area: subscribe;
      width: 55%;
      height: auto;
      background: var(--blue-bulletin);
      color: var(--watchdog-white);
      padding: 0 1rem;
      padding-bottom: 1.5rem;
      box-shadow: var(--shadow);
      border-radius: 10px;
      justify-self: center;
      align-self: baseline;
    }

    #social {
      grid-area: follow
    }

    svg {
      width: 45px;
      height: 45px;
    }

    h3{
      font-weight: 300;
    }
    p{
      font-weight: 300;
    }



    /* Text Formatting */
    header,
    main,
    footer {
      font-size: clamp(16px, 1vw, 2.5rem);
    }
  }

  /* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
  @media (prefers-reduced-motion: reduce) {
    body {
      transition: none;
    }
  }

  /* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
  @supports (selector(:has(*))) {

    /* Bryan Review */
    /* Neutralize fallback so both don’t trigger */
    #menu-toggle:checked~.menu {
      left: -100%;
    }

    /* Use modern :has() instead */
    .navigation:has(#menu-toggle:checked) .menu {
      left: 0;
    }

    .navigation:has(#menu-toggle:checked) .burger-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 11px);
    }
  }