/* CSS by ///ADD/// YOUR NAME */
/* Author: Bryan Arroyo */
/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video, svg{
  display:block;
  max-width: 100%;
}

input, button{
  font: inherit;
}
/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
#skip-to-main {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--news-flash);
  color: var(--watchdog-white);
  padding: 8px;
  z-index: 100;
  transition: top 0.3s;
}
#skip-to-main:focus {
  top: 0;
}
/* ///ADD/// Navigation Styles */
nav ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
li {
  list-style-type: none;
}

/* ///ADD/// Global Layout Styles */
body{
  padding: 0 2px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  gap: 1rem;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

#Social a{
  display: inline-block;
}


/* ///ADD/// Global Text Styles */
body {
  font-family: var(--font-body);
  /* line-height: 1.6;
  font-size: 1rem;
  transition: var(--transition); */
}
h1, h2, h3{
  font-family: var(--font-heading);
  line-height: 1.2;
  /* margin-bottom: 0.5rem; */
  /* transition: var(--transition); */
}
h2{
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
#main_news  h3,
#secondary_news h3
{
  /* font-size: 1.5rem; */
  color: var(--news-flash);
  margin-left: 5px;
}
video{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
video + p {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;

}
/* Subtitles Fonts */
#featured_articles :not(h2){
  margin-left: 5px;
}
#featured_articles > p {
  line-height: 1rem;
  color: var(--story-subtitle);
  font-weight: 375;
}
#featured_articles h3{
  line-height: 1.1rem;
  /* background: red; */
}

#featured_articles > p + h3 {
  margin-top: 0.5rem;
}
/* ///ADD/// medium styles 620px */


/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}